<div class="bg-full col-md-12 pt-5 pb-5">
<div class=" mx-auto border col-md-4 mt-5 pt-5 pb-5 shadow p-3 mb-5 bg-white rounded text-center">
    <a class="navbar-brand" href="">
        <img src="../../../assets/img/mplannerlogo.png" id="icon" alt="User Icon" width="200" />
    </a>
    <div class=" border-0  pt-3">
        <div class=" text-center">
          <div class="col-md-12 pt-3">
              <div class="form-container">
                  <form [formGroup]="loginFormGrp" (validSubmit) = "onSubmit()">
                      <div class="form-group">
                          <input type="text" id="username" value="" class="form-control"
                          placeholder="User Name" formControlName="Username">
                      </div>
                      <div class="form-group">
                        <input type="password" value="" name="password" placeholder="User Password"
                         class="form-control" formControlName="Password">
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                    <div class="mt-1">
                        <a routerLink="/forget-pass" class="">Forgot Password | </a><a routerLink="/signup" class="">Register</a>
                    </div>

                  </form>
                </div>
            </div>
          </div>
    </div>

</div>

</div>
